{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Member Dashboard
</h2>

<div class="row">

    <div class="col-md-3">

        <div class="dashboard-card card-shares">

            <h5>Total Shares</h5>

            <h2>
                {{ total_shares }}
            </h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="dashboard-card card-deposits">

            <h5>Total Deposits</h5>

            <h2>
                {{ total_deposits }}
            </h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="dashboard-card card-loans">

            <h5>Active Loans</h5>

            <h2>
                {{ active_loans }}
            </h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="dashboard-card card-pending">

            <h5>Pending Requests</h5>

            <h2>
                {{ pending_requests }}
            </h2>

        </div>

    </div>

</div>

<hr class="my-4">

<div class="row g-3 mb-4">

    {% if user.role != 'MEMBER' %}
    <div class="col">
        <a href="{% url 'apply_membership' %}"
           class="dashboard-btn">
            Apply Membership
        </a>
    </div>
    {% endif %}

    <div class="col">
        <a href="{% url 'deposit_request' %}"
           class="dashboard-btn">
            Deposit
        </a>
    </div>

    <div class="col">
        <a href="{% url 'request_loan' %}"
           class="dashboard-btn">
            Loan Request
        </a>
    </div>

    <div class="col">
        <a href="{% url 'my_loans' %}"
           class="dashboard-btn">
            My Loans
        </a>
    </div>

</div>
{% endblock %}