{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Member Dashboard
</h2>

<div class="row">

    <div class="col-md-3">

        <div class="dashboard-card card-shares">

            <h5>Total Shares</h5>

            <h2>
                {{ total_shares }}
            </h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="dashboard-card card-deposits">

            <h5>Total Deposits</h5>

            <h2>
                {{ total_deposits }}
            </h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="dashboard-card card-loans">

            <h5>Active Loans</h5>

            <h2>
                {{ active_loans }}
            </h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="dashboard-card card-pending">

            <h5>Pending Requests</h5>

            <h2>
                {{ pending_requests }}
            </h2>

        </div>

    </div>

</div>

<hr class="my-4">

<div class="row mb-4">

    <div class="col-md-3">
        <a href="/make-deposit/"
           class="btn btn-primary w-100">
            Deposit
        </a>
    </div>

    <div class="col-md-3">
        <a href="/request-loan/"
           class="btn btn-warning w-100">
            Loan Request
        </a>
    </div>

    <div class="col-md-3">
        <a href="/my-loans/"
           class="btn btn-dark w-100">
            My Loans
        </a>
    </div>

</div>

<div class="card shadow-sm">

    <div class="card-body">

        <h4>
            Profile Information
        </h4>

        <hr>

        <p>
            <strong>Username:</strong>
            {{ user.username }}
        </p>

        <p>
            <strong>Email:</strong>
            {{ user.email }}
        </p>

        <p>
            <strong>Phone:</strong>
            {{ user.phone_number }}
        </p>

        <p>
            <strong>Role:</strong>
            {{ user.role }}
        </p>

    </div>

</div>

{% endblock %}