{% extends 'base.html' %}

{% block content %}

<div class="container py-4">

    <div class="mb-4">
        <h2 class="dashboard-title">
            Member Dashboard
        </h2>
        <p class="dashboard-subtitle">
            Manage your shares, deposits, loans and membership activities.
        </p>
    </div>

    <!-- DASHBOARD CARDS -->

    <div class="row g-4">

        <div class="col-md-3">
            <a href="{% url 'deposit_request' %}"
               class="card-link">
                <div class="card dashboard-card">
                    <div class="card-body">
                        <h5>Total Shares</h5>
                        <h2>{{ total_shares }}</h2>
                        <small>View contributions</small>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="{% url 'deposit_request' %}"
               class="card-link">
                <div class="card dashboard-card">
                    <div class="card-body">
                        <h5>available Shares</h5>
                        <h2>{{ available_shares }}</h2>
                        <small>available Shares</small>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="{% url 'my_loans' %}"
               class="card-link">
                <div class="card dashboard-card">
                    <div class="card-body">
                        <h5>Locked Shares</h5>
                        <h2>{{ locked_shares }}</h2>
                        <small>View loans</small>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="{% url 'my_loans' %}"
               class="card-link">
                <div class="card dashboard-card">
                    <div class="card-body">
                        <h5>Active Loans</h5>
                        <h2>{{ active_loans }}</h2>
                        <small>Track requests</small>
                    </div>
                </div>
            </a>
        </div>
                <div class="col-md-3">
            <a href="{% url 'my_loans' %}"
               class="card-link">
                <div class="card dashboard-card">
                    <div class="card-body">
                        <h5>Pending Requests</h5>
                        <h2>{{ pending_requests }}</h2>
                        <small>Track requests</small>
                    </div>
                </div>
            </a>
        </div>


    </div>

    <hr class="my-5">

    <!-- ACTION BUTTONS -->

    <h4 class="mb-3">
        Quick Actions
    </h4>

    <div class="row g-3">

        {% if user.role != 'MEMBER' %}
        <div class="col-md-3">
            <a href="{% url 'apply_membership' %}"
               class="btn finance-btn w-100">
                Apply Membership
            </a>
        </div>
        {% endif %}

        <div class="col-md-3">
            <a href="{% url 'deposit_request' %}"
               class="btn finance-btn w-100">
                Deposit Request
            </a>
        </div>

        <div class="col-md-3">
            <a href="{% url 'request_loan' %}"
               class="btn finance-btn w-100">
                Request Loan
            </a>
        </div>

        <div class="col-md-3">
            <a href="{% url 'my_loans' %}"
               class="btn finance-btn w-100">
                My Loans
            </a>
        </div>

    </div>

</div>

{% endblock %}