{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="form-card">

        <h2 class="mb-4 text-center">
            Create Account
        </h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-success w-100">
                Register
            </button>

        </form>

        <hr>

        <p class="text-center">
            Already have an account?
            <a href="/login/">Login</a>
        </p>

    </div>

</div>

{% endblock %}