{% extends 'base.html' %}

{% block content %}

<div class="form-container">

    <h2>Site Settings</h2>

    <form method="POST">

        {% csrf_token %}

        <label>Site Name</label>
        <input type="text"
               name="site_name"
               value="{{ setting.site_name }}"
               class="form-control">

        <label class="mt-3">
            Site Slogan
        </label>

        <input type="text"
               name="site_slogan"
               value="{{ setting.site_slogan }}"
               class="form-control">

        <label class="mt-3">
            Organization Name
        </label>

        <input type="text"
               name="organization_name"
               value="{{ setting.organization_name }}"
               class="form-control">

        <label class="mt-3">
            Email
        </label>

        <input type="email"
               name="email"
               value="{{ setting.email }}"
               class="form-control">

        <label class="mt-3">
            Phone
        </label>

        <input type="text"
               name="phone"
               value="{{ setting.phone }}"
               class="form-control">

        <label class="mt-3">
            Address
        </label>

        <textarea name="address"
                  class="form-control">{{ setting.address }}</textarea>

        <label class="mt-3">
            Footer Text
        </label>

        <textarea name="footer_text"
                  class="form-control">{{ setting.footer_text }}</textarea>

        <button
            type="submit"
            class="btn btn-success mt-4">

            Save Changes

        </button>

    </form>

</div>

{% endblock %}