.announcement-card {
    border-radius: 12px;
}

.announcement-image {
    width: 100%;
    object-fit: cover;
}

/* =========================================
   ANNOUNCEMENT DETAIL PAGE
========================================= */

.announcement-detail-page {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
}

.announcement-detail-card {
    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}


/* IMAGE */

.announcement-detail-image {
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.announcement-detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* CONTENT */

.announcement-detail-content {
    padding: 35px 40px 40px;
}

.announcement-detail-date {
    color: #198754;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.announcement-detail-title {
    color: #0d3b66;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.announcement-detail-description {
    color: #333333;
    font-size: 1.05rem;
    line-height: 1.8;
}

.announcement-detail-description p {
    margin-bottom: 18px;
}


/* BUTTON */

.announcement-detail-actions {
    margin-top: 30px;
}


/* MOBILE */

@media (max-width: 768px) {

    .announcement-detail-page {
        margin: 25px auto;
        padding: 0 15px;
    }

    .announcement-detail-image {
        height: 250px;
    }

    .announcement-detail-content {
        padding: 25px;
    }

    .announcement-detail-title {
        font-size: 1.7rem;
    }

    .announcement-detail-description {
        font-size: 1rem;
        line-height: 1.7;
    }

}

.dashboard-btn {
    display: block;
    width: 100%;
    text-align: center;

    background: #9fabbe;
    color: black;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.text-danger {

    color: #dc3545;

    font-size: 14px;

    font-weight: 500;

    margin-top: 5px;
}

.errorlist {

    list-style: none;

    padding: 0;

    margin: 5px 0;

    color: #dc3545;

    font-size: 14px;
}