{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-4">
        Meet The Team
    </h2>

    <div class="row">

        <div class="col-md-4">

            <div class="card text-center">

                <div class="card-body">

                    <h5>Administrator</h5>

                    <p>
                        Responsible for overall management
                        of SafetyFund.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card text-center">

                <div class="card-body">

                    <h5>Finance Officer</h5>

                    <p>
                        Handles deposits, shares,
                        loans and repayments.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card text-center">

                <div class="card-body">

                    <h5>Members</h5>

                    <p>
                        The backbone of SafetyFund
                        and contributors to growth.
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}