{% extends 'base.html' %}

{% block content %}

<div class="form-card">

    <h2>
        Membership Application
    </h2>

    <div class="alert alert-info">

        Membership Fee:
        <strong>5,000 RWF</strong>

        <br>

        Please upload proof of payment before
        submitting your application.

    </div>

    <form
        method="POST"
        enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            class="btn btn-primary">

            Submit Application

        </button>

    </form>

</div>

{% endblock %}